{% extends 'customers/login.html' %}
{% load static %}

{% block content %}
    <section class="form-section">
        <div class="form-container">
            <h2>Admin Login</h2>
            
            {% if messages %}
                {% for message in messages %}
                    <div class="error">{{ message }}</div>
                {% endfor %}
            {% endif %}
            
            <form method="post" action="{% url 'staff_login' %}">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" required>
                
                <div class="password-container">
                    <input type="password" name="password" id="id_password" placeholder="Password" required>
                    <span class="toggle-password" id="togglePassword">show</span>
                </div>

                <button type="submit">Login</button>
            </form>
        </div>
    </section>
{% endblock %}